<h1>Editing serviceman</h1>
<%= render "form", serviceman: @serviceman %>
<br>
<div>
  <%= link_to "Show this serviceman", @serviceman %> |
  <%= link_to "Back to servicemen", servicemen_path %>
</div>
