<p style="color: green"><%= notice %></p>

<h1>Servicemen</h1>

<div id="servicemen">
  <% @servicemen.each do |serviceman| %>
    <%= render serviceman %>
    <p>
      <%= link_to "Show this serviceman", serviceman %>
    </p>
  <% end %>
</div>

<%= link_to "New serviceman", new_serviceman_path %>
