<% if alert.present? %>
    <div class="alert alert-danger" role="alert">
    <%= alert %>
    </div>
<% end %>
<% if notice.present? %>
    <div class="alert alert-sm alert-success mt-2 mb-2" role="alert">
    <%= notice %>
    </div>
<% end %>